/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Do NOT include @tailwind base styles as there would be lots of duplication.
 * these styles should be included in a theme/ site global stylesheet.
 */

@config "./tailwind.block.config.cjs";
@tailwind components;
@tailwind utilities;
@tailwind variants;

.accordion-header-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	width: 100%;
}
.accordion-header-button svg {
	width: 2rem;
	transition: transform 0.2s ease-in-out;
	transform-origin: center;
}
.accordion-header-button[data-state="collapsed"] svg {
	transform: rotate(-90deg);
}
