/**
 * The following styles get applied inside the editor only.
 */

.wp-block-snap-blocks-accordion-group {
	--snap-accordion-group-padding: var(--wp--preset--spacing--normal);
}
.wp-block-snap-blocks-accordion-group .block-list-appender {
	position: static;
}
.wp-block-snap-blocks-accordion-group .components-button-group {
	background-color: #f6f7f7;
	border: 1px solid #c3c4c7;
	padding: var(--snap-accordion-group-padding);
	text-align: center;
	width: 100%;
}

.wp-block-snap-blocks-accordion-group
	.components-button-group
	.components-button {
	box-shadow: none;
}
